
$body-bg: #ffffff;
$text-color-main: #666666;

$phone-widths-only: "(max-width: 659px)";
$tablet-widths: "(min-width: 660px)";
$desktop-widths: "(min-width: 960px)";

$desktop-max-widths: 1400px;
$tablet-max-widths: 900px;

$mobile-inner-width: 280px;
$tablet-inner-width: 620px;
$desktop-inner-width: 940px;
